<nav class="navbar navbar-dark navbar-static-top{{#is "home, paged"}} top{{/is}}"><!-- bg-inverse -->
    <div class="container">
        <a class="navbar-brand" href="/">
            
            <img src="{{#if @blog.logo}}{{@blog.logo}}{{else}}http://placehold.it/30x30{{/if}}" width="30" height="30" class="d-inline-block align-top" alt="">

            {{@blog.title}}
        </a>
        <span class="navbar-text float-xs-left text-muted" style="color: #dedede!important;">
            {{@blog.description}}
        </span>

        <button class="navbar-toggler hidden-xl-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-lg float-xs-right" id="navbarResponsive">
            <ul class="nav navbar-nav">

                {{#foreach navigation}}
                    <li class="nav-item {{#if current}}active{{/if}}">
                        <a class="nav-link" href="{{url absolute="true"}}">{{label}} {{#if current}}<span class="sr-only">(current)</span>{{/if}}</a>
                    </li>
                {{/foreach}}
                {{#if @labs.subscribers}}
                    <li class="nav-item">
                        <a class="nav-link subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
                    </li>
                {{/if}}
                
                <li class="nav-item">
                    <a class="nav-link white" target="_blank" href="{{#if twitter_url}}{{twitter_url}}{{else}}https://twitter.com/arcticon1337{{/if}}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white" target="_blank" href="{{#if facebook_url}}{{facebook_url}}{{else}}https://www.facebook.com/Arcticon1337{{/if}}"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white" target="_blank" href="http://steamcommunity.com/id/Arcticon"><i class="fa fa-steam" aria-hidden="true"></i> Steam</a>
                </li>
            </ul>
        </div>
    </div>
</nav>